{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} About {% endblock %}

{% block content %}



<div class="container"style='padding-left: 6vh; margin-top:10vh ;
padding-bottom: 25px;
font-family: Arial;
letter-spacing: 1.2px;
color: white;
line-height: 30px;
 '>
 <center>
<div class="row justify-content-center">

                <div class="col-lg-5 mb-5 mb-lg-0">

                 <p> 
    Food really is the way to win hearts.We realise how under appreciated food is: as something that sustains us, and something that keeps us excited and as something that truly brings us happiness & peace.
    We at "Feel Home" prepare the food with love and care. This firm was launched in August of 2022. Mr.Manoj and Mr.Raghavendra own the whole enterprise. It is located in Irving, Texas, and is easily accessible from the DFW airport. Unlike other restaurants, Feel Home was established on self-interest and love for the food. It also provides additional services such as catering for various types of functions throughout Texas. In the coming days the enterprise is going to develop the branches across various cities throughout the nation.

    So, today no matter what take a moment to appreciate the food you eat. Remember to show it gratitude.
                </p>
                </div>

            </div>
        </center>
        </div>
       
{% endblock %}